.app-container {
    background-color: white !important;
    min-height: 780px !important;
    /* background-image: url('./brickwallpaper.png') !important;   */
}
.p-4 {
    background-color: blue !important;
}

p {
    font-size: 180%; 
    text-align: center;

}