<div class="card container-lg">
  <div
    class="card-header"
    style="background-color: black; color: white; font-size: 24px"
  >
    <!-- <div class="card-header"> -->
    MASEP Computer Skills Competency Test
  </div>
  <div class="card-body" *ngIf="showBody">
    <p class="card-text">
      <b
        >If you are not ready to pay the $250, Please wait to take the test
        until you are</b
      >
    </p>
    <p class="card-text">
      Please read each question and all answers CAREFULLY before choosing your
      response.
    </p>
    <p>
      The duration of this test is
      <span style="background-color: coral; color: white">
        {{ duration }} minutes.</span
      >
      To begin, please enter your email below and click on the 'Start Test'
      button. Click the "Submit" button to submit your answers when done. If you
      do not submit, please note that your test will be automatically submitted
      after
      <span style="background-color: coral; color: white">
        {{ duration }} minutes.</span
      >
      has elapsed. You are only allowed to take the test once.
      <span style="background-color: coral; color: white">DO NOT REFRESH </span>
      the page during the test: your answers will be lost and your time will not
      be reset
    </p>
    <p>
      <span style="background-color: coral; color: white"
        >Your time will start once you click Start Test.</span
      >
    </p>
    <p class="card-text">* = Required</p>
  </div>
</div>

<br />

<div class="container-lg">
  <div class="input-group mb-3">
    <span class="input-group-text" id="email">Email Address:</span>
    <input
      [(ngModel)]="email"
      type="text"
      class="form-control"
      placeholder="Email Address"
      aria-label="Email Address"
      aria-describedby="email"
    />
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    <button
      [disabled]="loading"
      class="btn btn-success"
      type="button"
      id="button-addon1"
      (click)="checkAvailability()"
    >
      Start Test
    </button>
  </div>
</div>

<div *ngIf="canTakeExam">
  <br />
  <div
    class="container-lg input-group mb-3"
    style="position: -webkit-sticky; /* Safari & IE */ position: sticky; top: 0"
  >
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    <button
      [disabled]="loading"
      class="btn btn-success"
      type="button"
      id="button-submit-down"
      data-toggle="modal"
      data-target="#submitModal"
    >
      Submit Answers
    </button>
    <span style="float: left; margin-left: 75%">
      Time Left:
      <button [disabled]="true" [class]="timerClass" type="button">
        {{ hour }}
      </button>
      :
      <button [disabled]="true" [class]="timerClass" type="button">
        {{ min }}
      </button>
      :
      <button [disabled]="true" [class]="timerClass" type="button">
        {{ sec }}
      </button>
    </span>
  </div>
  <br />
  <div class="container-lg card" *ngFor="let question of questions">
    <!-- <div class="card-header" style="background-color: black; color: white;"> -->
    <div class="card-header">
      <b>Question {{ question.serial_number }}.</b> {{ question.question }}
      <sup>*</sup>
    </div>
    <div class="card-body" style="padding-left: 5%">
      <img src="{{ question.image_url }}" *ngIf="question.image_url !== ''" />

      <div *ngIf="question.option_a !== ''">
        <input
          type="radio"
          id="{{ question.serial_number }}_option_a"
          name="{{ question.serial_number }}"
          value="option_a"
          (change)="changed(question, 'option_a')"
        />
        <label for="{{ question.serial_number }}_option_a"
          >&nbsp;&nbsp;&nbsp;A. {{ question.option_a }}</label
        >
      </div>

      <div *ngIf="question.option_b !== ''">
        <input
          type="radio"
          id="{{ question.serial_number }}_option_b"
          name="{{ question.serial_number }}"
          value="option_b"
          (change)="changed(question, 'option_b')"
        />
        <label for="{{ question.serial_number }}_option_b"
          >&nbsp;&nbsp;&nbsp;B. {{ question.option_b }}</label
        >
      </div>
      <div *ngIf="question.option_c !== ''">
        <input
          type="radio"
          id="{{ question.serial_number }}_option_c"
          name="{{ question.serial_number }}"
          value="option_c"
          (change)="changed(question, 'option_c')"
        />
        <label for="{{ question.serial_number }}_option_c"
          >&nbsp;&nbsp;&nbsp;C. {{ question.option_c }}</label
        >
      </div>
      <div *ngIf="question.option_d !== ''">
        <input
          type="radio"
          id="{{ question.serial_number }}_option_d"
          name="{{ question.serial_number }}"
          value="option_d"
          (change)="changed(question, 'option_d')"
        />
        <label for="{{ question.serial_number }}_option_d"
          >&nbsp;&nbsp;&nbsp;D. {{ question.option_d }}</label
        >
      </div>
      <div *ngIf="question.option_e !== ''">
        <input
          type="radio"
          id="{{ question.serial_number }}_option_e"
          name="{{ question.serial_number }}"
          value="option_e"
          (change)="changed(question, 'option_e')"
        />
        <label for="{{ question.serial_number }}_option_e"
          >&nbsp;&nbsp;&nbsp;E. {{ question.option_e }}</label
        >
      </div>
    </div>
    <hr />
  </div>
  <br />
  <div class="container-lg input-group mb-3">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    <button
      [disabled]="loading"
      class="btn btn-success"
      type="button"
      id="button-submit-down"
      data-toggle="modal"
      data-target="#submitModal"
    >
      Submit Answers
    </button>
  </div>
</div>

<!-- Contact Form Div -->
<div class="container-lg" *ngIf="passedCutoff">
  <div class="card">
    <div class="card-header" style="background-color: darkgreen; color: white">
      <!-- <div class="card-header"> -->
      You met the criteria for online classes. If you are interested, please
      fill out the contact form below. If you do not see a contact form, please
      scroll down. Someone will be in touch within the next two weeks. 
    </div>
    <div class="card-content" style="padding: 15px 15px">
      <form [formGroup]="form" (ngSubmit)="onContactFormSubmit()">
        <div class="form-row">
          <div class="form-group col">
            <label for="reason">Why do you want to take the online class?</label>
            <textarea rows=5 formControlName="reason" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.reason.errors }"></textarea>
            <div *ngIf="submitted && f.reason.errors" class="invalid-feedback">
              <div *ngIf="f.reason.errors.required">Reason for class is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label for="email">Email</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label for="phoneNumber">Phone Number</label>
            <input
              type="text"
              formControlName="phoneNumber"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
            />
            <div
              *ngIf="submitted && f.phoneNumber.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.phoneNumber.errors.required">
                Phone Number is required
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label for="fullName">Full Name</label>
            <input
              type="text"
              formControlName="fullName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
            />
            <div
              *ngIf="submitted && f.fullName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.fullName.errors.required">
                Full Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Submit Contact Information
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Submit Modal -->
<div
  class="modal fade"
  id="submitModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="submitModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Confirm Submit Answers
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to submit your answers?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="submit()"
          data-dismiss="modal"
        >
          Submit Answers
        </button>
      </div>
    </div>
  </div>
</div>
