<a routerLink="add" class="btn btn-sm btn-success mb-2">Add New Question</a>

<h1>Questions</h1>

<div class="card">
    <div class="card-header">
        MASEP Computer Skills Competency Test
    </div>
    <div class="card-body">
        <p class="card-text">Please read each question and all answers CAREFULLY before chosing your response</p>
        <p class="card-text">* = Required</p>
    </div>
</div>

<br />
<div class="card" *ngFor="let question of questions">
    <div class="card-header">
        {{question.question}} <sup>*</sup> (1 point)
    </div>
    <div class="card-body">
        <img src="{{question.img}}" *ngIf="question.img !== undefined" />
        <ol type="A">
            <li *ngIf="question.option_a !== undefined">
                {{question.option_a}}
            </li>
            <li *ngIf="question.option_b !== undefined">
                {{question.option_b}}
            </li>
            <li *ngIf="question.option_c !== undefined">
                {{question.option_c}}
            </li>
            <li *ngIf="question.option_d !== undefined">
                {{question.option_d}}
            </li>
            <li *ngIf="question.option_e !== undefined">
                {{question.option_e}}
            </li>      
        </ol>
        Answer: {{question.answer}}
    </div>
    <hr />
</div>