<h1>Questions</h1>

<div class="card">
    <div class="card-header">
        MASEP Computer Skills Competency Test
    </div>
    <div class="card-body">
        <p class="card-text">Please read each question and all answers CAREFULLY before chosing your response</p>
        <p class="card-text">* = Required</p>
    </div>
</div>

<br />

<div class="card">
    <div class="card-header">
        Question Settings
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label for="admin_email">Admin Email<sup>*</sup></label>
                    <input type="text" formControlName="admin_email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.admin_email.errors }" />
                    <div *ngIf="submitted && f.admin_email.errors" class="invalid-feedback">
                        <div *ngIf="f.admin_email.errors.required">Admin Email</div>
                    </div>
                </div>

                <div class="form-group col">
                    <label for="question">Cutoff Mark<sup>*</sup></label>
                    <input type="text" formControlName="cutoff_mark" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.cutoff_mark.errors }" />
                    <div *ngIf="submitted && f.cutoff_mark.errors" class="invalid-feedback">
                        <div *ngIf="f.cutoff_mark.errors.required">Cutoff Mark</div>
                    </div>
                </div>

                <div class="form-group col">
                    <label for="question">Admin Phone Number<sup>*</sup></label>
                    <input type="text" formControlName="admin_phone_number" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.admin_phone_number.errors }" />
                    <div *ngIf="submitted && f.admin_phone_number.errors" class="invalid-feedback">
                        <div *ngIf="f.admin_phone_number.errors.required">Admin Phone Number</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="question">Time Required<sup>*</sup> (in minutes)</label>
                    <input type="text" formControlName="time_required" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.time_required.errors }" />
                    <div *ngIf="submitted && f.time_required.errors" class="invalid-feedback">
                        <div *ngIf="f.time_required.errors.required">Time Required</div>
                    </div>
                </div>
            </div>

            <div class="form-group col">
                <button class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save Settings
                </button>
            </div>
        </form>
    </div>
</div>

<div class="card" *ngFor="let question of questions">
    <div class="card-header">
        <b>Question {{question.serial_number}}.</b> {{question.question}} <sup>*</sup> ({{question.points}}
        {{question.points > 1 ? 'points' : 'point'}})
    </div>
    <div class="card-body">
        <img src="{{question.image_url}}" *ngIf="question.image_url !== ''" />
        <ol type="A">
            <li *ngIf="question.option_a !== undefined">
                {{question.option_a}}
            </li>
            <li *ngIf="question.option_b !== undefined">
                {{question.option_b}}
            </li>
            <li *ngIf="question.option_c !== undefined">
                {{question.option_c}}
            </li>
            <li *ngIf="question.option_d !== undefined">
                {{question.option_d}}
            </li>
            <li *ngIf="question.option_e !== undefined">
                {{question.option_e}}
            </li>
        </ol>
        Answer: {{question.answer}}
        <br />
        <br />

        <a routerLink="edit/{{question.id}}">
            <button type="button" class="btn btn-primary">Edit</button>
        </a> &nbsp;&nbsp;
        <button [disabled]="question.isDeleting" (click)="selectQuestion(question.id)" type="button"
            class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
            <span *ngIf="question.isDeleting" class="spinner-border spinner-border-sm"></span>
            <span *ngIf="!question.isDeleting">Delete</span>
        </button>
    </div>
    <hr />
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteQuestion()" data-dismiss="modal">Delete
                    Question</button>
            </div>
        </div>
    </div>
</div>